/* 

 Tour Overlay Styles

*/

.tour-overlay{
  background: #666;
  opacity: 0.5;
  z-index: 9996;
  min-height: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tour-stop{
  position: relative;
  z-index: 9998;
  outline: 10px solid white;
}

.tour-stop-bg{
  background: white;
  position: fixed;
  z-index: 9997;
}

.tour-message{
  position: fixed;
  z-index: 9997;
  top: 0;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.26);
}

.tour-message .title{
  font-size: 1.75em;
  margin: 0;
  margin-bottom: 10px;
}

.tour-message__controls{
  font-size: 1.5em;
}

/* 

 Inconsequential Styles

*/


body {
  margin-top: 10px;
}
.row {
  display: flex;
  flex: 1 1 0;
  align-items: center;
}
.col {
  flex: 1 1 0;
}


button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

.icon {
  padding: 20px;
}

 #ptitle{
  font-size: 2em;
  margin-bottom: 15px;
  color:#f34100;
}

/* 

 App

*/

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 

 Header

*/

.pheader {
  background: #fff;
  flex: 0 0 40px;
  box-shadow: 0px 4px 10px #de5c4130;
}

.logo {
  font-size: 1.25em;
  font-weight: bold;
  color: #dd5c40;
  display: inline-block;
}

.controls {
  display: flex;
  justify-content: flex-end;
  color: #b7b7b7;
}

.controls button:hover {
  color: #de5c41;
}

.user-profile {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 10px;
}

/* 

 Body

*/

.pbody {
  display: flex;
  flex: 1 1 auto;
   font-family: 'GmarketSansMedium', 'Noto Sans KR', sans-serif;
  color: #212529;
}

/* 

 Sidebar

*/
.psidebar {
  flex: 0 0 20%;
  margin-top:20px;
}

.psidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.psidebar-nav button {
  display: flex;
  width: 100%;
  padding: 20px;
  text-align: left;
  color: #192f61;
}

.psidebar-nav button:hover {
  color: #f34100;
}

.psidebar-nav button span {
  flex: 1 1 0;
}

.psidebar-nav button i {
  flex: 0 0 30px;
  
}

.psidebar-nav .cta {
  padding: 10px 20px;
}

button.primary {
  display: block;
  padding: 20px;
  background: #de5c41;
  color: white;
  border-radius: 10px;
  text-align: center;
}

button.primary:hover {
  color: white;
  background: #f3674a;
}

/* 

 Main View

*/

.main {
  flex: 0 0 80%;
  background: #eee;
}

.main__content {
  padding: 40px;
}

.ptitle {
  margin-bottom: 1em;
}

.card {
  background: #de5c41;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.card__subtitle {
  margin: 1em 0 1em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card__title {
  margin: 0;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.card__extra {
  margin: 0;
}

.ptable-card {
  background: white;
  padding: 20px;
  border-radius: 5px;
}
.ptable-card h2 {
	
	color:#192f61;
}

.dashcards {
  margin-bottom: 40px;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.dashcards .col {
  padding: 0 10px;
}

.ptable {
  width: 100%;
  border-spacing: 0;
}

.ptable td {
  padding: 20px 0;
}

.ptable thead td {
  font-weight: bold;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  color: #de5c41;
}

.ptable tbody td {
  border-bottom: 1px solid #ccc;
  color: #777;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://use.typekit.net/evl6ifb.css');
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'GmarketSansMedium', 'Noto Sans KR', sans-serif;
  color: #212529;
}

a {
  color: #f34100;
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "GmarketSansMedium", "Noto Sans" sans-serif;
}
ul:hover{
	color:#ee7843;
	
}

/* list-bottom */
/* 
#article-list>.article-list-row {
	border-right: none;
}

#article-list #article-list-menu {
	box-sizing: border-box;
	width: unset;
	margin: 20px;
}

#article-list #boardSearchForm {
	padding-bottom: 20px;
	height: unset;
} */


/* insert.do */
.btn-primary {
	background: #192f61 !important;/* 글쓰기 버튼 */
	float:right;
	margin-bottom:30px;

}
.btn-danger .btn-default{
	margin-top:30px;
}
/* 
.input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap
} */
/* 
.input-group-btn>.btn {
	position: relative
}

.input-group-btn>.btn+.btn {
	margin-left: -1px
}

.input-group-btn>.btn:active, .input-group-btn>.btn:focus,
	.input-group-btn>.btn:hover {
	z-index: 2
}

.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group
	{
	margin-right: -1px
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
	{
	z-index: 2;
	margin-left: -1px
}
 */






.pi_body{
	margin-top: 100px;	
	
}

/* 페이징 list.do */
/* 
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus,
	.pagination>li>span:hover {
	color: #f34100;
	
} */

/* 
.pagination{
	display:block;
	text-align:center;
	
}
.pagination>li>a{
	float:none;
	margin-left:-5px;
	
	background-color:#fff;
	border-color: #f34100;

}
 */










