<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.admin-mapper">

	<select id="userInfoList" resultType="UserVO">
		SELECT * FROM user_4 ORDER BY joindate DESC
	</select>
	
	<select id="userInfoDetailData" resultType="String">
		SELECT * FROM user_4 WHERE id=#{id}
	</select>
	
	<!-- 전체 쓴 글 목록, 체크 후 일괄 삭제 가능 (예정) -->
	<select id="adminWriteList" resultType="PboardVO" parameterType="hashmap">
	    SELECT p_no,subject,id,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit,rcount,num
	    FROM (SELECT p_no,subject,id,regdate,hit,rcount,rownum as num 
	    FROM (SELECT p_no,subject,id,regdate,hit,rcount 
	    FROM pbo_4 ORDER BY regdate DESC))
	    WHERE num BETWEEN #{start} AND #{end}
  	</select> 
	
	<select id="adminWriteTotalPage" resultType="int">
    	SELECT CEIL(COUNT(*)/10.0) FROM pbo_4
	</select>
	
	<!-- 문의 내역 리스트 -->
	<select id="adminQnaListData" resultType="QnaVO" parameterType="hashmap">
        SELECT q_no,subject,id,TO_CHAR(regdate,'YYYY-MM-DD') as dbday, hit, isreply, group_id, group_step, group_tab, num
        FROM (SELECT q_no,subject,id, regdate, hit,isreply, group_id, group_step, group_tab, rownum as num
        FROM (SELECT q_no,subject,id, regdate, hit,isreply, group_id, group_step, group_tab 
        FROM qbo_4 WHERE isreply = '0' AND GROUP_STEP = '0' ORDER BY q_no DESC ))
        WHERE num BETWEEN #{start} AND #{end}
		
    </select> 
    
    <select id="adminQnaTotalPage" resultType="int">
        SELECT CEIL(COUNT(*)/10.0) FROM qbo_4 WHERE isreply='0' AND GROUP_STEP='0'
    </select>
    
    <!-- 문의 내역 답변 -->
    <select id="adminQnaAnswer" resultType="QnaVO" parameterType="int">
        SELECT q_no,subject,id,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit, group_id, group_step, group_tab
        FROM qbo_4
        WHERE q_no=#{q_no}
    </select>
    
    <!-- 문의내역 답변 추가 -->
    <insert id="adminQnaInsert" parameterType="QnaVO">
        INSERT INTO qbo_4(q_no, name, id, subject, content, pwd, group_id, group_tab, group_step)
        VALUES ((SELECT NVL(MAX(q_no)+1,1) FROM qbo_4), 
        #{name}, #{id}, #{subject}, #{content}, #{pwd}, #{group_id}, #{group_tab},
        (SELECT NVL(MAX(group_step)+1,1) FROM qbo_4 WHERE group_id=#{group_id})
        )
    </insert>
    
    <!-- 답변된 문의게시글에 isreply 변경 -->
    <update id="adminQnaIsreply"  parameterType="int">
        UPDATE qbo_4 SET isreply=isreply+1
        WHERE q_no=#{q_no}
    </update>

</mapper>