<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.booking-mapper">
 <select id="bookingListData" resultType="BookingVO" parameterType="hashmap">
 SELECT o_no,name,store,poster,TO_CHAR(price,'fm999&#44;999&#44;999&#44;999&#44;999') as strPrice,num
 FROM(SELECT o_no,name,store,poster,price,rownum as num
 FROM(SELECT o_no,name,store,poster,price
 FROM ord_4 WHERE o_no BETWEEN #{s} AND #{e} ORDER BY o_no ASC))
 WHERE num BETWEEN #{start} AND #{end}
 </select>
 
 <select id="bookingTotalPage" resultType="int" parameterType="hashmap">
   SELECT CEIL(COUNT(*)/9.0) FROM ord_4 WHERE o_no BETWEEN #{s} AND #{e}
 </select>
 
 <select id="hospitalDetailData" resultType="BookingVO" parameterType="int">
   SELECT * FROM ord_4
   WHERE o_no=#{o_no}
 </select>
 
 <select id="bookingDetailData" resultType="BookingVO" parameterType="int">
 select *
 from ord_4
 where o_no=#{o_no}
 </select>
 
 <!-- 찜하기 -->
 <insert id="bookingJjimInsert" parameterType="JjimVO">
 	 <!-- 자동 증가번호 -->
   <selectKey keyProperty="j_no" resultType="int" order="BEFORE">
     SELECT NVL(MAX(j_no)+1,1) as j_no FROM ORD_JJIM_4
   </selectKey>
     INSERT INTO ORD_JJIM_4 VALUES(#{j_no},#{id},#{o_no})
 </insert>
 
 <!-- 찜 여부 확인 -->
 <select id="bookingJjimCount" resultType="int" parameterType="JjimVO">
 	SELECT COUNT(*) FROM ORD_JJIM_4
 	WHERE o_no=#{o_no} AND id=#{id}
 </select>
 
 <!--찜 삭제  -->
 <delete id="bookingJjimDelete" parameterType="JjimVO">
 	DELETE FROM ord_jjim_4
 	WHERE o_no=#{o_no} AND id=#{id}
 </delete>
 <!-- 예약자정보 -->
  <select id="bookingUserInfo" resultType="UserVO" parameterType="string">
  SELECT id,name,phone,email FROM user_4 WHERE id=#{id}
 </select>
 <!-- 예약시스템 -->
 <insert id="bookingInsert" parameterType="com.sist.vo.OrderVO">
   <selectKey keyProperty="oi_no" resultType="int" order="BEFORE">
     SELECT NVL(Max(oi_no)+1,1) as oi_no FROM ord_info_4
   </selectKey>
   INSERT INTO ord_info_4(oi_no,id,o_no,order_date,order_time,msg)
   VALUES(#{oi_no},#{id},#{o_no},#{order_date},#{order_time},#{msg})
  </insert>
</mapper>