<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.mypage-mapper">

<select id="myInfoData" resultType="UserVO" parameterType="string">
	SELECT * FROM user_4 WHERE id=#{id}
</select>

<!-- 
P_NO       NOT NULL NUMBER        
SUBJECT    NOT NULL VARCHAR2(100) 
CONTENT    NOT NULL CLOB          
PWD        NOT NULL VARCHAR2(20)  
REGDATE             DATE          
HIT                 NUMBER        
GOOD_COUNT          NUMBER        
ID                  VARCHAR2(20)  
NAME       NOT NULL VARCHAR2(20)  
RCOUNT              NUMBER    -->
<!-- 게시글 목록 -->
<select id="userWriteData" resultType="PboardVO" parameterType="string">
	SELECT p_no, subject, content, pwd, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday, hit, good_count, id, name, rcount, num
	FROM (SELECT p_no, subject, content, pwd, regdate, hit, good_count, id, name, rcount, rownum as num
	FROM (SELECT p_no, subject, content, pwd, regdate, hit, good_count, id, name, rcount
	FROM pbo_4 ))
	WHERE id=#{id}
</select>
 
<!-- 게시글 상세보기 -->
<select id="userWriteDetailData" resultType="PboardVO" parameterType="int">
	SELECT p_no, subject, content, pwd, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday, hit, good_count, id, name, rcount, num
	FROM (SELECT p_no, subject, content, pwd, regdate, hit, good_count, id, name, rcount, rownum as num
	FROM (SELECT p_no, subject, content, pwd, regdate, hit, good_count, id, name, rcount
	FROM pbo_4 ))
	WHERE p_no=#{p_no}
</select>

<!-- 개인정보 수정 -->
<select id="userInfoEdit" resultType="UserVO" parameterType="string">
	SELECT * FROM user_4 WHERE id=#{id}
</select>

<!-- 개인정보 수정 처리 -->
<update id="userEdit" parameterType="UserVO">
	UPDATE user_4 
	SET pwd=#{pwd}, name=#{name}, phone=#{phone}, birthday=#{birthday}, zipcode=#{zipcode}, addr1=#{addr1}, addr2=#{addr2}, gender=#{gender}
	WHERE id=#{id}
</update>

<!-- 문의내역 목록 -->
<select id="userQnaData" resultType="QnaVO" parameterType="string">
	SELECT q_no, hit, group_id, isreply, group_step, group_tab, name, subject, content, pwd, id, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday, num
	FROM (SELECT q_no, hit, group_id, isreply, group_step, group_tab, name, subject, content, pwd, regdate, id, rownum as num
	FROM (seleCT q_no, hit, group_id, isreply, group_step, group_tab, name, subject, content, pwd, regdate, id
	FROM qbo_4))
	WHERE id=#{id}
</select>

<!-- 찜 여부 확인 -->
<select id="userLiikeCount" resultType="int" parameterType="com.sist.vo.JjimVO">
	SELECT COuNT(*) FROM jjim_4
	WHERE fno=#{fno} AND id=#{id}
</select>

<!-- 찜 목록 -->
<select id="userlikeData" resultType="JjimVO" parameterType="string">
	SELECT ord_jjim_4.j_no, ord_jjim_4.id, ord_jjim_4.o_no, ord_4.poster, ord_4.name, ord_4.price 
	FROM ord_jjim_4 
	LEFT JOIN ord_4
	ON ord_jjim_4.o_no = ord_4.o_no 
	WHERE id=#{id}
</select>

</mapper>