<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.mypage-mapper">


<select id="myInfoData" resultType="UserVO" parameterType="string">
    SELECT * FROM user_4 WHERE id=#{id}
</select>

<!-- 
P_NO       NOT NULL NUMBER        
SUBJECT    NOT NULL VARCHAR2(100) 
CONTENT    NOT NULL CLOB          
PWD        NOT NULL VARCHAR2(20)  
REGDATE             DATE          
HIT                 NUMBER        
GOOD_COUNT          NUMBER        
ID                  VARCHAR2(20)  
NAME       NOT NULL VARCHAR2(20)  
RCOUNT              NUMBER    -->
<!-- 게시글 목록 -->
<select id="userWriteData" resultType="PboardVO" parameterType="map">
    SELECT p_no, subject, content, pwd, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday, hit, good_count, id, name, rcount, num
    FROM (SELECT p_no, subject, content, pwd, regdate, hit, good_count, id, name, rcount, rownum as num
    FROM (SELECT p_no, subject, content, pwd, regdate, hit, good_count, id, name, rcount
    FROM pbo_4 WHERE id=#{id} ORDER BY regdate DESC))
    WHERE num BETWEEN #{start} AND #{end}
    
</select>
<!-- 게시글 페이징 -->
<select id="userWriteTotalPage" resultType="int" >
    SELECT CEIL(COUNT(*)/10.0) FROM pbo_4
</select>
 
<!-- 게시글 상세보기 -->
<select id="userWriteDetailData" resultType="PboardVO" parameterType="int">
    SELECT p_no, subject, content, pwd, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday, hit, good_count, id, name, rcount, num
    FROM (SELECT p_no, subject, content, pwd, regdate, hit, good_count, id, name, rcount, rownum as num
    FROM (SELECT p_no, subject, content, pwd, regdate, hit, good_count, id, name, rcount
    FROM pbo_4 ORDER BY regdate DESC))
    WHERE p_no=#{p_no}
</select>

<!-- 개인정보 수정 -->
<select id="userInfoEdit" resultType="UserVO" parameterType="string">
    SELECT * FROM user_4 WHERE id=#{id}
</select>
<!-- 비밀번호 읽기 -->
<select id="userInfoEditPwd" resultType="UserVO" parameterType="string">
  SELECT pwd,id,name,admin
  FROM user_4
  WHERE id=#{id}
</select>

<!--    <update id="memberUpdate" parameterType="MemberVO">
      UPDATE project_member SET
      name=#{name},sex=#{sex},email=#{email},
      addr1=#{addr1},addr2=#{addr2},tel=#{tel},
      content=#{content}
      WHERE id=#{id}
    </update> -->


<!-- 개인정보 수정 처리 -->
<update id="userEdit" parameterType="string">
    UPDATE user_4 
    SET name=#{name}, phone=#{phone}, email=#{email}, birthday=#{birthday}, zipcode=#{zipcode}, addr1=#{addr1}, addr2=#{addr2}, gender=#{gender}
    WHERE id=#{id}
</update>

<!-- 문의내역 목록 -->
<select id="userQnaData" resultType="QnaVO" parameterType="hashmap">
    SELECT q_no, hit, group_id, isreply, group_step, group_tab, name, subject, content, pwd, id, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday, num
    FROM (SELECT q_no, hit, group_id, isreply, group_step, group_tab, name, subject, content, pwd, regdate, id, rownum as num
    FROM (seleCT q_no, hit, group_id, isreply, group_step, group_tab, name, subject, content, pwd, regdate, id
    FROM qbo_4 WHERE id=#{id} ORDER BY regdate ASC))
    WHERE num BETWEEN #{start} AND #{end}
    
</select>

<!-- 문의글 페이징 -->
<select id="userQnaTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0) FROM qbo_4)
</select>

<!-- 예약 - 좋아요 목록 -->
<select id="userBookingLikeData" resultType="JjimVO" parameterType="string">
    SELECT ord_jjim_4.j_no, ord_jjim_4.id, ord_jjim_4.o_no, ord_4.poster, ord_4.name, ord_4.s_info, ord_4.price
    FROM ord_jjim_4 
    LEFT JOIN ord_4
    ON ord_jjim_4.o_no = ord_4.o_no 
    WHERE id=#{id}
</select>


<!-- 추천 - 좋아요 목록 -->
<select id="userRecLikeData" resultType="PetplaceVO" parameterType="string">
    SELECT jjim_p_4.c_no, jjim_p_4.id, jjim_p_4.no, rcpg_4.poster, rcpg_4.title, rcpg_4.tel
    FROM rcpg_4
    LEFT JOIN jjim_p_4
    ON jjim_p_4.c_no = rcpg_4.c_no
    WHERE id=#{id}
</select>

<!-- 예약내역 출력 -->
<select id="bookingMypageData" resultType="com.sist.vo.OrderVO" parameterType="string">
    SELECT oi_no,order_date,order_time,msg,state,
           (SELECT store FROM ord_4 WHERE o_no=ord_info_4.o_no) as store,
           (SELECT name FROM ord_4 WHERE o_no=ord_info_4.o_no) as name,
           (SELECT poster FROM ord_4 WHERE o_no=ord_info_4.o_no) as poster,
           (SELECT price FROM ord_4 WHERE o_no=ord_info_4.o_no) as price
    FROM ord_info_4
    WHERE id=#{id}
    ORDER BY oi_no DESC
  </select>
</mapper>