<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.petplace-mapper">
 <select id="petplaceListData" resultType="PetplaceVO" parameterType="hashmap">

   <!-- parameterType은 1개 지정이 가능 : 여러개 데이터를 첨부 (VO,Map) -->
   SELECT c_no,title,poster,num
   FROM (SELECT c_no,title,poster,rownum as num 
   FROM (SELECT c_no,title,poster 
   FROM ${table_name}W WHERE c_no BETWEEN #{start} AND #{end} ORDER BY c_no ASC))
   WHERE num BETWEEN #{start} AND #{end}

 </select>
 <select id="petplaceTotalPage" resultType="int" parameterType="hashmap">
   SELECT CEIL(COUNT(*)/9.0) FROM ${table_name} WHERE c_no BETWEEN #{start} AND #{end}
 </select>
 
 <!-- 상세보기 -->
  <select id="petplaceDetailData" resultType="petplaceVO" parameterType="hashmap">
   SELECT * FROM ${table_name}
   WHERE c_no=#{c_no}
 </select>
</mapper>