<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reply-mapper">
  <!-- 목록 -->
  <!-- 
        ${} => ''사용하지 않는다
        #{} => ''사용한다
        
        UPDATE board SET =>#{board} ==> 'board'  ==> ${board} => board
        name='홍길동' ==> #{name}
        WHERE no=1
        
        => 컬럼명 , 테이블명 ==> ${}
        => 일반 데이터      ==> #{}
 p_repl_4
 ===========================
 Name       Null?    Type          
============================================================
PRE_NO     NOT NULL NUMBER        
MSG        NOT NULL VARCHAR2(200) 
REGDATE             DATE          
GROUP_ID            NUMBER          몇번째 그룹인지 
GROUP_STEP          NUMBER          그룹내에서 몇번째인지 
GROUP_TAB           NUMBER          탭을 몇번 띄고 출력할 것인지 
PP_NO      NOT NULL NUMBER          ppbo 게시글 
P_NO       NOT NULL NUMBER          pbo  게시글 
DEPTH               NUMBER          댓글 아래 달린 대댓글의 갯수 
ID         NOT NULL VARCHAR2(20)    작성자 
TYPE                NUMBER          1 = pbo , 2 = ppbo
ROOT                NUMBER          가장 상위 댓글의 번호 

   -->
  <update id="countIncrement" parameterType="PReplyVO">
    UPDATE ${table_name} SET
    rcount=rcount+1
    WHERE p_no=#{p_no}
  </update>
  <select id="preplyListData" resultType="PReplyVO" parameterType="PReplyVO">
    SELECT  pre_no,p_no,type,id,msg,TO_CHAR(regdate,'YYYY-MM-DD HH24:MI:SS') as dbday
    FROM p_repl_4
    WHERE p_no=#{p_no} AND type=#{type}
    ORDER BY group_id DESC,group_step ASC
  </select>
  <!-- 추가 -->
  <insert id="preplyInsert" parameterType="PReplyVO">
    <!-- sequence 
         order 순서 => BEFORE는 먼저 수행 
         고급 => JOIN , SUBQUERY , 동적쿼리 
    -->
    <selectKey keyProperty="pre_no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(pre_no)+1,1) as pre_no FROM p_repl_4
    </selectKey>
    INSERT INTO p_repl_4 (pre_no,p_no,msg,id,type,group_id) VALUES(
      #{pre_no},
      #{p_no},
       #{msg},
      #{id},
      #{type},
      (SELECT NVL(MAX(group_id)+1,1) FROM p_repl_4)   
    )
  </insert>
  
  <!-- 수정 -->
  <update id="preplyUpdate" parameterType="PReplyVO">
   UPDATE p_repl_4 SET
   msg=#{msg}
   WHERE pre_no=#{pre_no}
  </update>
  
  <!-- 삭제 -->
   <select id="preplyInfoData" resultType="PReplyVO" parameterType="int">
    SELECT root,depth FROM p_repl_4
    WHERE pre_no=#{pre_no}
  </select>
  
  <update id="replyMsgUpdate" parameterType="int">
    UPDATE p_repl_4 SET
    msg='관리자가 삭제한 댓글입니다'
    WHERE pre_no=#{pre_no}
  </update>
  
  <delete id="preplyDelete" parameterType="int">
   DELETE FROM p_repl_4
   WHERE pre_no=#{pre_no}
  </delete>
  
   <update id="pdepthDecrement" parameterType="int">
    UPDATE p_repl_4 SET
    depth=depth-1
    WHERE pre_no=#{pre_no}
  </update>
  <!--  대댓글 -->
  <select id="preplyParentInfoData" resultType="PReplyVO" parameterType="int">
  SELECT group_id,group_step,group_tab
  FROM p_repl_4
  WHERE pre_no=#{pre_no}
  </select>
  
  <update id="preplyGroupStepInvrement" parameterType="PReplyVO">
  UPDATE p_repl_4 SET
  group_step=group_step+1
  WHERE group_id=#{group_id} AND group_step> #{group_step}
  </update>
  
 <insert id="preplyToReplyInsert" parameterType="PReplyVO">
    <selectKey keyProperty="pre_no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(pre_no)+1,1) as pre_no FROM p_repl_4
    </selectKey>
    INSERT INTO p_repl_4 VALUES(
      #{pre_no},
      #{p_no},
      #{id},
      #{msg},
      SYSDATE,
      #{group_id},
      #{group_step},
      #{group_tab},
      #{root},
      0
    )
  </insert>
  <update id="preplyDepthIncrement" parameterType="int">
    UPDATE p_repl_4 SET
    depth=depth+1
    WHERE pre_no=#{pre_no}
  </update>
</mapper>











