<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reply-mapper">
  <!-- 목록 -->
   <!--  총 댓글 증가 -->
  <update id="countIncrement" parameterType="PReplyVO">
    UPDATE ${table_name} SET
    rcount=rcount+1
    WHERE p_no=#{p_no}
  </update>
  <!-- 총 댓글 감소  -->
  <update id="countDecrement" parameterType="PReplyVO">
    UPDATE ${table_name} SET
    rcount=rcount-1
    WHERE p_no=#{p_no}
  </update>
  
  <select id="preplyListData" resultType="PReplyVO" parameterType="PReplyVO">
    SELECT  pre_no,p_no,type,id,msg,TO_CHAR(regdate,'YYYY-MM-DD HH24:MI:SS') as dbday
    FROM p_repl_4
    WHERE p_no=#{p_no} AND type=#{type}
    ORDER BY PRE_NO DESC
  </select>
  
  <!-- 추가 -->
  <insert id="preplyInsert" parameterType="PReplyVO">
    <selectKey keyProperty="pre_no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(pre_no)+1,1) as pre_no FROM p_repl_4
    </selectKey>
    INSERT INTO p_repl_4 (pre_no,p_no,msg,id,type) VALUES(
      #{pre_no},
      #{p_no},
       #{msg},
      #{id},
      #{type}  
    )
  </insert>
  
  <!-- 수정 -->
  <update id="preplyUpdate" parameterType="PReplyVO">
   UPDATE p_repl_4 SET
   msg=#{msg}
   WHERE pre_no=#{pre_no}
  </update>
  
  <!-- 삭제 -->
  <delete id="preplyDelete" parameterType="int">
   DELETE FROM p_repl_4
   WHERE pre_no=#{pre_no}
  </delete>
  
</mapper>











