table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

ul li {
	float: left;
	padding: 5px;
	width: 99px;
	list-style-type: none;
	text-align: center
}

li a {
	padding: 15px;
	cursor: pointer;
}

li.active {
	list-style-type: circle;
	color: red;
}

li.active a {
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
}

.zoom {
	background-color: gray;
	transition: transform .2s; /* Animation */
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.2);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

table thead th {
	cursor: pointer;
}

table thead th.nosort {
	cursor: initial;
}

.table_sortable thead th:after {
	display: inline-block;
	padding: 0 .25rem;
}

.table_sortable thead th.desc:after {
	content: '↑';
}

.table_sortable thead th.asc:after {
	content: '↓';
}