@charset "UTF-8";
table.dataTable thead th {
    background-color: #2596be;
    color: white;
    text-align: center;
}

table.dataTable tbody tr td {
    vertical-align: middle;
}

.table-hover > tbody > tr:hover {
    background-color: #bee0ec;
}

.buttonsDiv {
    margin: inherit;
    padding-bottom: 3px;
}

.middleAlign {
    vertical-align: middle;
}
.loader {
    width: 320px;
    height: 90px;
    left: 45%;
    top: 45%;
    border: 1px solid silver;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 10px;
    background-color: ghostwhite;
    position: fixed;
}

.loading {
    display: flex;
    justify-content: left;
}

.loading--full-height {
    align-items: center;
    height: 100%;
}

.loading-message {
    margin-left: 6px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loading::before {
    content: "";
    width: 55px;
    height: 55px;
    border-left: 12px solid rgba(0,174,239,.15);
    border-right: 12px solid rgba(0,174,239,.15);
    border-bottom: 12px solid rgba(0,174,239,.15);
    border-top: 12px solid rgba(0,174,239,.8);
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}
